@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-color: aliceblue;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  font-size: large;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card{
  background-color: #1e2a3e;
  padding: 30px;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}

.card-head{
  background-image: url(images/image\ copy.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #1e2a3e;
  font-weight: bold;
  box-shadow: 0 0 5px grey;
}

.card-head p{
  font-size: 30px;
  text-shadow: 0 0 8px aliceblue;
}

.card-social{
  background-color: aliceblue;
  color: #1e2a3e;
  width: 30%;
  position: relative;
  margin: 0px 35%;
  padding: 1px 0;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
}

.card-link .card{
  color: aliceblue;
  background-color: #1e2a3e;
}
.card-link:hover .card{
  background-color: #3c4e6d;
}

.card-movie:hover .card{
  background-image: url(images/image\ copy\ 4.png);
  background-repeat:repeat;
  background-size: 100%;
  background-position: center;
  text-shadow:0 0 5px #4c5d79;
  font-weight: bolder;
}

.card-vsco:hover .card{
  background-image: url(images/IMG_3823.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-shadow:0 0 5px grey;
}

.card-liverpool:hover .card{
  background-image: url(images/image\ copy\ 3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow:0 0 5px grey;
  }


h1, h2, h3 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

.profpic-rounded{
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

a {
  text-decoration: none;
}

.btn-navy {
  background-color: aliceblue;
  color: #4c5d79;
  padding: 8px 16px;
  border-radius: 2px;
  box-shadow: 0 0 8px grey;
  display: inline-block;
  margin: 10px;
}

.btn-navy:hover {
  background-color: rgb(183, 195, 207);
}

.list-inline{
  padding: 0;
  text-align: center;
}

.list-inline li{
  display: inline-block;
  margin: auto 10px;
}

.icon-small{
  color: #1e2a3e;
  font-size: 40px;
  background-color: transparent;
}

.icon-small:hover {
  color: #4c5d79;
}

.icon-small2{
  color: aliceblue;
  font-size: 40px;
  background-color: transparent;
}

.icon-small2:hover {
  color: #4c5d79;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
